<!-- base.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'css/base.css'%}">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/home.css'%}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>{% block head %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </div>

        {% block nav %}
        <ul id="nav">
            <li>{% block nav-home %}<a class="active" href="#home">Home</a>{% endblock %}</li>
            <li>{% block nav-activities %}<a href="{% url 'Trainer:activities' %}">Activities</a>{% endblock %}</li>
            <li>{% block nav-MyActivities %}<a href="{% url 'Trainer:MyActivities' %}">My Activities </a>{% endblock %}</li>
            <li>{% block nav-chatRoom %}<a href="{% url 'Trainer:index' %}">Chat Room </a>{% endblock %}</li>

            {% if user.is_authenticated %}
            <li style="float:right"><a onclick="window.location.href='/logout/'">Logout</a></li>
            {% else %}

            {% endif %}

          </ul>
          {% endblock %}
    </div>
</body>
</html>
